@charset "UTF-8";

*{
    font-family: sans-serif;
    height: auto;
}
body{
    background-image: linear-gradient(to right, #818274, #A3AB78);
}
p{
    text-align: justify;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius:5px;
    box-shadow: 10px 10px 15px #53534b84;
}
h1{
    color: #BDE038;
}
h2{
    color: #10454F;
}