@charset "UTF-8";

body {
    background-color: rgb(63, 63, 63);
}
h1 {
    color: rgb(211, 210, 210);   
    font-family: Arial, Helvetica, sans-serif; 
}
p {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

